In [1]:
from faker import Faker
import pandas as pd

In [2]:
fake = Faker()
data = [fake.profile() for i in range(50)]
data = pd.DataFrame(data)
print(data.head(5))

                             job        company          ssn  \
0                     Counsellor  Garrison-King  018-77-3421
1  Clinical molecular geneticist    Park-Medina  727-40-0927
2       Plant breeder/geneticist    Arias-Patel  212-02-5597
3     Geophysical data processor    Johnson Ltd  220-27-2794
4             Investment analyst     Wright Ltd  411-32-8676

                                         residence  \
0       442 Fox Crest\nEast Carolynville, OR 26306
1   902 Rodgers Hill\nSouth Clarencetown, GU 91512
2  92330 Kathleen Views\nWest Jasonshire, SD 37661
3  75370 Stephanie Meadow\nCuevasborough, IA 40544
4                 Unit 3692 Box 5379\nDPO AA 63131

             current_location blood_group  \
0    (-73.223427, 163.323130)         AB+
1  (-33.8794255, -158.975913)          B+
2    (15.5158315, 158.354198)         AB+
3    (-56.0898695, 13.448807)          O+
4     (-23.125857, 89.592054)          A+

                                             website         username  \
0  [http://choi.com/, http://vasquez.com/, https:...      shanedillon
1       [http://harrison.biz/, http://robinson.com/]        melanie10
2                        [https://www.lawrence.com/]  clintonmcknight
3                           [http://www.booker.com/]        wmcdowell
4  [http://www.parker-vance.com/, https://www.gri...          david49

               name sex                                            address  \
0     Kenneth Ewing   M  16395 Cochran Mountain\nSouth Vanessaville, WY...
1      Brenda Reyes   F   378 Stevenson Village\nLake Katiehaven, RI 45122
2     James Spencer   M  5021 Scott Rue Apt. 152\nLake Andrewton, MT 07154
3  Jessica Castillo   F           8047 Kara Landing\nSandraburgh, KY 60451
4      Emily Mccall   F         400 Wilson Springs\nRobertsburgh, NH 03916

                      mail   birthdate
0        wwilson@gmail.com  1977-11-17
1   tylercombs@hotmail.com  1936-11-07
2       kimroger@gmail.com  1913-01-01
3         xbrown@gmail.com  1937-09-26
4  matthewwilson@yahoo.com  1925-08-20

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   job               50 non-null     object
 1   company           50 non-null     object
 2   ssn               50 non-null     object
 3   residence         50 non-null     object
 4   current_location  50 non-null     object
 5   blood_group       50 non-null     object
 6   website           50 non-null     object
 7   username          50 non-null     object
 8   name              50 non-null     object
 9   sex               50 non-null     object
 10  address           50 non-null     object
 11  mail              50 non-null     object
 12  birthdate         50 non-null     object
dtypes: object(13)
memory usage: 5.2+ KB