In [1]:
from faker import Faker
import pandas as pd

In [2]:
fake = Faker()
data = [fake.profile() for i in range(50)]
data = pd.DataFrame(data)
print(data.head(5))

                                job                       company  \
0              Licensed conveyancer  Jackson, Salazar and Johnson
1                  Technical brewer  Mcdaniel, Griffin and Miller
2                   Event organiser                     White Inc
3  Surveyor, commercial/residential                Sanford-Phelps
4                        Astronomer         Willis, Young and Lee

           ssn                                          residence  \
0  885-84-9487  10604 Sellers Lights Suite 484\nJonesmouth, PR...
1  283-74-4055  92264 Randy Spurs Suite 022\nPort Christina, N...
2  527-38-3099              964 Ashley Spurs\nMunozport, NH 91375
3  543-17-8996         13536 Kimberly Views\nPriceburgh, WI 92679
4  679-51-3148                   PSC 3461, Box 5972\nAPO AE 17456

           current_location blood_group  \
0      (4.401154, 6.249535)         AB-
1   (-24.110131, 99.874617)         AB+
2   (89.636565, 172.999010)          B+
3  (-45.5755825, 98.653477)          O+
4     (28.984728, 4.903719)          B+

                                             website      username  \
0  [https://www.johnston.com/, http://www.west-go...     oschwartz
1  [http://li-small.com/, https://oneal.com/, htt...        obrown
2  [https://woods.com/, https://www.taylor-taylor...    adamgarcia
3                     [http://mccarthy-turner.info/]  mariahmartin
4  [http://www.saunders.info/, https://hernandez....        psalas

              name sex                                            address  \
0  Michelle Barber   F  2056 Contreras Overpass Apt. 580\nCasefurt, OK...
1    George Gibson   M   128 Stone Park Suite 091\nKristenmouth, NY 56358
2     Sara Schmidt   F              7653 Sally Groves\nGregfort, CO 54476
3    Cynthia White   F                   PSC 0537, Box 4206\nAPO AA 93144
4     Stacy Walker   F      4777 Julia Spurs Apt. 644\nNew Gina, OK 76761

                        mail   birthdate
0       lucasjames@yahoo.com  1909-08-30
1      moodyshawna@gmail.com  2001-05-02
2           olee@hotmail.com  2002-08-02
3  jenniferramirez@gmail.com  1973-11-11
4   morrisfernando@yahoo.com  2017-06-30

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   job               50 non-null     object
 1   company           50 non-null     object
 2   ssn               50 non-null     object
 3   residence         50 non-null     object
 4   current_location  50 non-null     object
 5   blood_group       50 non-null     object
 6   website           50 non-null     object
 7   username          50 non-null     object
 8   name              50 non-null     object
 9   sex               50 non-null     object
 10  address           50 non-null     object
 11  mail              50 non-null     object
 12  birthdate         50 non-null     object
dtypes: object(13)
memory usage: 5.2+ KB